<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>failure</title>
</head>
<body>
  <%if(error) {%>
    <h1>໒꒰ྀི ´๑ ̫๑` ꒱ྀིა코드에 에러가 있어요!</h1>
    <h4>다음과 같은 에러가 있으니 참고해 수정하시길...</h4>
    <p>
      <%=error %>
    </p>
    <%} else {%>
      <h1>테스트 케이스를 통과하지 못했네요... ϲ( ´•ϲ̲̃ ̲̃•` )ɔ</h1>
      <h4>
        <%=message%>
      </h4>
      <%} %>
</body>
</html>
